body {
    display:flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #e5e7eb;
    background: #a2bee5;
    padding: 25px 80px;
}

.logo {
    font-size: 20px;
    font-weight: 800;
}

ul {
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    gap: 35px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.container {
    display: flex;
    color: #858a94;
    background: #faefee;
    padding: 80px 150px;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.angel {
    height: 250px;
    width: auto;
    border: none;

}

h2 {
    color: #858a94;
    text-align: center;
    margin-top: 30px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 10px 200px 60px;

}

img {
    height: 150px;
    border:2px solid #e780782a;
    border-radius: 10px
}

.text {
    color: #858a94;
    width: 150px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 40px 250px;
}

.quote-body {
    max-width: 900px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}

.credit {
    font-size: 24px;
}

.action {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    background: #b8cbeb;
    color: #f9faf8; 
    gap: 150px;
    margin: 40px auto;
    padding: 20px 100px;
    border-radius: 8px;
}

.button {
    height: 30px;
    max-width: fit-content;
    padding: 0 20px;
    background: #f0c1b96c;
    color: #f9faf8; 
    border: 1px solid whitesmoke;
    border-radius: 8px;
}

.container .button {
    border: none;
}

.footer {
    background-color: #faebe7;
    color: #8e929b;
    font-size: 12px;
    text-align: center;
    padding: 30px;
}